* {
      box-sizing: border-box;
    }

@keyframes slidein {
    0% {
      top: -400px;
      opacity: 0;
    }
    100% {
      opacity: 1;
      top: 0px;
    }
  }
  @keyframes slideout {
    0% {
      top: 0;
      opacity: 1;
    }
    100% {
      top: -400px;
      opacity: 0;
    }
  }
  body {
    background: #eee;
    font-family: "Tahoma";
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  * {
    box-sizing: border-box;
  }

  body #scene {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    overflow: hidden;
  }
  body #scene #left-zone {
    background: #fff;
    height: 100%;
    flex-grow: 0;
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: left;
    border-right: #000000 1px solid;
  }
  body #scene #left-zone .list {
    display: flex;
    list-style: none;
    align-content: stretch;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 10;
  }
  body #scene #left-zone .list li.item input[type="radio"] {
    display: none;
  }
  body #scene #left-zone .list li.item input[type="radio"] ~ label {
    display: block;
    opacity: 0.5;
    height: 50px;
    text-align: right;
    line-height: 49px;
    padding-right: 12px;
}
  
  body #scene #left-zone .list li.item input[type="radio"] ~ label:first-letter {
    text-transform: uppercase;
  }
  body #scene #left-zone .list li.item input[type="radio"] ~ label:hover {
    opacity: 0.75;
    cursor: pointer;
  }
  body #scene #left-zone .list li.item input[type="radio"] ~ label.label_strawberry:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url('../../img/service.png');
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
  }
  body #scene #left-zone .list li.item input[type="radio"] ~ label.label_banana:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url('../../img/garanties.png');
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
  }
  body #scene #left-zone .list li.item input[type="radio"] ~ label.label_apple:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url('../../img/perimetre.png');
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
  }
  body #scene #left-zone .list li.item input[type="radio"] ~ label.label_orange:before {
    content: " ";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 15px;
    background-image: url('../../img/objectif.png');
    background-position: center;
    background-size: 75% 75%;
    background-repeat: no-repeat;
  }
  body #scene #left-zone .list li.item input[type="radio"] ~ .content {
    position: absolute;
    left: 250px;
    top: -650px;
    width:100%;
    height: 100%;
    animation-duration: 0.75s;
    animation-name: slideout;
    animation-timing-function: ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5px;
    padding-top: 5px;
}
  
  body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_strawberry .picto {
    height: 100px;
    width: 100px;
    background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/83067-200.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_strawberry h1 {
    color: #D64541;
  }
  body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_banana .picto {
    height: 100px;
    width: 100px;
    background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/53209-200.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_banana h1 {
    color: #F5D76E;
  }
  body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_apple .picto {
    height: 100px;
    width: 100px;
    background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/14333-200.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_apple h1 {
    color: #00B16A;
  }
  body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_orange .picto {
    height: 100px;
    width: 100px;
    background-image: url('https://d30y9cdsu7xlg0.cloudfront.net/png/9636-200.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  body #scene #left-zone .list li.item input[type="radio"] ~ .content.content_orange h1 {
    color: #F27935;
  }
  body #scene #left-zone .list li.item input[type="radio"] ~ .content h1:first-letter {
    text-transform: uppercase;
  }
  body #scene #left-zone .list li.item input[type="radio"] ~ .content p {
    max-width: 50%;
    text-align: center;
  }
  body #scene #left-zone .list li.item input[type="radio"]:checked ~ label {
    opacity: 1;
    animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  body #scene #left-zone .list li.item input[type="radio"]:checked ~ label.label_strawberry {
    color: #D64541;
    border-right: solid 4px #D64541;
  }
  body #scene #left-zone .list li.item input[type="radio"]:checked ~ label.label_banana {
    color: #F5D76E;
    border-right: solid 4px #F5D76E;
  }
  body #scene #left-zone .list li.item input[type="radio"]:checked ~ label.label_apple {
    color: #00B16A;
    border-right: solid 4px #00B16A;
  }
  body #scene #left-zone .list li.item input[type="radio"]:checked ~ label.label_orange {
    color: #F27935;
    border-right: solid 4px #F27935;
  }
  body #scene #left-zone .list li.item input[type="radio"]:checked ~ .content {
    animation-duration: 0.75s;
    animation-name: slidein;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
 
  body #scene #right-zone {
    background: #fff;
    height: 100%;
    flex-grow: 3;
    width: 70%;
  }
   


  .bg_back_un {

    background-image: url('../../img/dome_interieur.png');
     /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(4px);
   
    /* Full height */
    height: 100%;
   
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }

.text_intro_ask{
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.7);
  color: white;
  font-weight: bold;
  border: 6px solid #f1f1f1;
  position: absolute;
  top: 42%;
  left: 34%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 46%;
  padding: 5px 20px;
  text-align: center;
}
   
  
  .text_intro_answer{
    background-color: rgb(0,0,0);
    background-color: rgb(2 7 53 / 68%);
        color: white;
     border: 3px solid #f1f1f1;
    position: absolute;
    top: 54%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 66%;
    padding: 10px;
    text-align: center;
    }
 

    .bg_back_deux {

      background-image: url('../../img/omeyyades.png');
      /* Add the blur effect */
    filter: blur(2px);
    -webkit-filter: blur(2px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    } 
    
  
  
    .intro_liste_services{
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.4);
      color: white;
      font-weight: bold;
      border: 6px solid #f1f1f1;
      position: absolute;
      top: 16%;
      left: 56%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 50%;
      padding: 5px 20px;
      text-align: center;
    }
    
    .liste_des_services{
      background-color: rgb(0,0,0);
      background-color: rgb(10 19 44 / 77%);
      color: white;
      /* font-weight: bold; */
      border: 2px solid #f1f1f1;
      position: absolute;
      top: 50%;
      left: 68%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 46%;
      padding: 14px;
    }

  .bg_back_trois {
background-image: url('../../img/africa.png');
filter: blur(2px);
  -webkit-filter: blur(2px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
  } 
.trois{

  height: 100%;
  width: 100%;
}
 .texte_trois {

  background-color: rgb(0,0,0);
  background-color: rgb(10 19 44 / 77%);
  color: white;
  /* font-weight: bold; */
  border: 2px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 68%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 46%;
  padding: 14px;
 }
  

  
   

.bg_back_quatre {

    background-image: url('../../img/minarets.png');
    filter: blur(8px);
    -webkit-filter: blur(4px);
   
    /* Full height */
    height: 100%;
   
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  } 

  .quatre{

    height: 100%;
    width: 100%;
  }
   .texte_quatre {
  
    background-color: rgb(0,0,0);
    background-color: rgb(10 19 44 / 77%);
    color: white;
    /* font-weight: bold; */
    border: 2px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 68%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 46%;
    padding: 14px;
   }
    
  
    
    .texte_quatre{
      background-color: rgb(0,0,0);
      background-color: rgb(10 19 44 / 77%);
      color: white;
      /* font-weight: bold; */
      border: 2px solid #f1f1f1;
      position: absolute;
      top: 50%;
      left: 68%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 46%;
      padding: 14px;
    }
    

    .item label {
display: none;    }
    
    @media (min-width:900px) and  (max-width: 1200px) {
    
    .label_strawberry{

      background-color: red;
    }
    
    
    }@media (min-width:800px) and  (max-width: 900px) {
    
    .label_strawberry{

      background-color: red;
    }
    
    
    }