body {


    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin-left: auto;
    margin-right: auto;
  }
 
  /********************************************/
  /*******************Header*******************/
  /********************************************/
  header {
 
    background-color: white;
    display: flex;
    flex-direction: column;
    /*    border-bottom: 1px solid #000;
 */
    position: fixed;
    width: 100%;
    z-index: 15;
    color: rgb(13, 7, 59);
 
  }
 
  /*******************Logo_Header*******************/
 
  header .logo_header {
    display: flex;
    padding-left: 45px;
    background-color:x;
    color: rgb(13, 7, 59);
    text-align: center;
    justify-content: center;
    padding-right: 5px;
 
  }
 
  .meta_header{
    display: flex;
    flex-direction: column;
    text-align: start;
    align-self: center;
    width: 223px;
 
  }

  header h1 {
    font-family: 'Aboreto', cursive;
    padding-bottom: 0%;
    text-decoration: none;
    color: rgb(13, 7, 59);
    font-weight: bold;
    font-size: 19px;
  
  }
 
 
  header h2 {
    font-family: 'Aboreto', cursive;
    font-size: 1rem;
  }
 
  .logo{

    display: block;
    position: relative;
    width: 100px;
    height: 116px;
    margin: 3px 7px 5px;

  }
  /*******************Logo_telephone*******************/
 
  header .telephone {
 
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
 
 
  }
 
  .telephone img {
    height: 40px;
    width: auto;
 
  }
 
  .icons {
    left: -5%;
    display: flex;
    margin-right: 2%;
    flex-direction: column;
  }
 
  .logo_tel_nav {
 
    margin: auto;
 
 
  }
 
  .logo_tel_nav img {
    height: 30px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0%;
 
  }
 
  .logo_whatsapp_nav {
 
    margin: auto;
 
  }
 
  .logo_whatsapp_nav img {
    height: 30px;
    width: auto;
    padding-left: 0%;
    margin-left: auto;
    margin-right: auto;
  }
 
  .logo_out {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: 'League Spartan', sans-serif;
    text-decoration: none;
    padding-left: 0%;
    color: rgb(13, 7, 59);
    text-align: center;
    align-self: center;
 
 
 
  }
 
  .tel_nav {
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: rgb(13, 7, 59);
  }

  /*******************Navbar*******************/


  .navbar-header{

    width: 100%;
  }
